<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Admin</h1>
    <hr>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/products/create">Agregar producto</a></li>
			<li><a href="/products/edit">Editar producto</a></li>
			<li><a href="/products/delete">Eliminar</a></li>
			
		</ul>
	</nav>
</body>
</html>