<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<h1>Home Page</h1>
	<hr>
	<nav>
		<ul>
			<li><a href="/">HOME</a></li>
			<li><a href="/products">PRODUCTOS</a></li>
			<li><a href="/products/detail">DETALLE DEL PRODUCTO</a></li>
			<li><a href="/users/register">REGISTRATE</a></li>
			<li><a href="/users/login">INICIÁ SESIÓN</a></li>
		</ul>
	</nav>
	<img src="/images/node.jpg" width="60%">
</body>
</html>